.navbar {
    background-color: #222;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 72px;
    display: block;
}

.navbar-right {
    background-color: #111;
    float: right;
}

.navbar-left {
    background-color: #111;
    float: left;
}